*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family:Arial, sans-serif;
}

/* nav bar */
.navbar{
  font-size: 20px;
  font-weight: 600;
}


.navbar-brand img {
  height: 50px;
  color: rgb(94, 226, 28);
  
}
.search-bar {
  width: 500px;
}
.nav-item a{
  color: rgb(28, 54, 156);
}
.navbar-custom {
  background-color: #2874f0;
}

/* sub nav */

.sub-nav1 {
  background-color: rgb(244, 238, 238);
  color: black;
  border-bottom: 1px solid #e0e0e0;
  font-size: 14px;

}
.sub-nav a{
  color: black;
  font-weight: 600;
  padding: 10px;
}

.subnav1{
  display: flex;
}



/* loginpage */
#mainloginpage{
  display: none;
}
.loginpage{
display: flex;
width: 50%;
justify-content: center;
align-items: center;
height: 500px;

}
.login_img,.login_side{
display: flex;
width: 50%;
flex-direction: column;
justify-content: space-between;
padding: 20px;
height: 100%;
}
.login_img{
  
background-color: rgba(0, 0, 255, 0.722);
color: white;


}


.otp_side{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
display: none;
gap: 20px;
padding: 20px;
}



/* loginpage */

.mobile_box {
  border: 1px solid #ccc;
  padding: 10px;
  width: 250px;
  text-align: center;
  border-radius: 10px;
  background: #fff;
}
.mobile_box img {
  width: 100%;
  /* height: auto; */
  height: 250px;
}
.mobile_box:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  scale: 1.05;
  transition-duration: 0.5s;
}

#mainpage{
  display: block;

}
#cardpage{
  display: none;
  background: linear-gradient(to bottom, #ff7e5f, #feb47b);
  margin-top: 10px;
  padding: 20px;
}
#buypage{
  display: none;
  background: linear-gradient(to bottom, #ff7e5f, #feb47b);
  padding: 20px;
  margin-top: 10px;

}
.cardbtn{
  position: relative;
}
#cardcount{
  
  top:0px;
  position: absolute;
  font-size: 12px;
  
  border-radius: 50%;
  padding: 5px;
}




/* footer */

.footer {

  background-color: #172337;
  color: #ffffffcc;
  font-size: 14px;
  padding: 40px 0;
}

.footer a {
  color: #ffffffcc;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-title {
  color: #878787;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer hr {
  border-color: #444;
}

.footer .copyright {
  font-size: 12px;
  color: #878787;
  margin-top: 20px;
}




@media (max-width: 768px) {
  .loginpage{
    display: flex;
    flex-direction: column;
    margin: 10px;
    /* height: 500px; */
    width: 100%;
    
}
.login_img,.login_side{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.login_img{
    background-color: rgba(0, 0, 255, 0.722);
    color: white;
    
}


.otp_side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    gap: 20px;
}
  .carousel-item img{
    height: 200px;
  }
  .subnav1{
    display: flex;
    flex-direction: column;
  }
  
}